html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: lightsalmon;
    height: 100%;
}

#joke-button{
    background-color: lightblue;
    color: purple;
    border: none;
    border-radius: 1000px;
}
.like-dislike{
    background-color: yellow;
    border-radius: 1000000px;
    border-color: yellow;

}

#joke-rank{
    column-count: 2;
    column-gap: 0px;
    position:absolute;
}

.accordion{
    font-size: 20px;
    border:none;
    background-color: beige;
    padding: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right:100px;
    /* get these aligned and centered so collapse appears below */
}

.accordion:hover{
    background-color: slateblue;
}

.collapsible {
    padding: 0 18px;
    display:none;
    overflow: hidden;
    background-color: aquamarine;
  }