html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-color: lightsalmon;
    height: 100%;
}

#joke-button{
    background-color: lightblue;
    color: purple;
    border-color: lightblue;
    border-radius: 1000px;
}
.like-dislike{
    background-color: yellow;
    border-radius: 1000000px;
    border-color: yellow;
}

#joke-rank{
    column-count: 2;
    column-gap: 0px;
}

/* .collapsible {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;

  } */